

.content {
 
  margin: 80px;
  background-image: 
  radial-gradient(circle at top left, #ff6b6b, transparent 60%),
  radial-gradient(circle at top right, #6bc6ff, transparent 60%),
  radial-gradient(circle at bottom left, #6bff95, transparent 60%),
  radial-gradient(circle at bottom right, #e26bff, transparent 60%);

background-blend-mode: screen;
  /* background-color: rgb(247, 247, 226); */
  border-radius: 16px;
  padding: 40px;
}

h1 {
  font-family: 'lexend', sans-serif;
  font-weight: 700;
}

h2 {
    font-family: 'lexend', sans-serif;
    font-weight: 700;
  }

p {
    font-family: 'lexend', sans-serif;
    font-weight: 300;
  }